In [71]:
import pandas as pd
import numpy as np

In [72]:
df = pd.read_csv("Data/air_system_previous_years.csv",dtype=object)

In [73]:
df.head()

,class,aa_000,ab_000,ac_000,ad_000,ae_000,af_000,ag_000,ag_001,ag_002,...,ee_002,ee_003,ee_004,ee_005,ee_006,ee_007,ee_008,ee_009,ef_000,eg_000
0,neg,76698,na,2130706438,280,0,0,0,0,0,...,1240520,493384,721044,469792,339156,157956,73224,0,0,0
1,neg,33058,na,0,na,0,0,0,0,0,...,421400,178064,293306,245416,133654,81140,97576,1500,0,0
2,neg,41040,na,228,100,0,0,0,0,0,...,277378,159812,423992,409564,320746,158022,95128,514,0,0
3,neg,12,0,70,66,0,10,0,0,0,...,240,46,58,44,10,0,0,0,4,32
4,neg,60874,na,1368,458,0,0,0,0,0,...,622012,229790,405298,347188,286954,311560,433954,1218,0,0

In [74]:
#filtering data
df.drop_duplicates()#there is no duplicates, but I had to verify
df = df.replace("na",np.nan)

In [75]:
data_ = df.iloc[:,1:]
class_ = df.iloc[:,0]
data_

,aa_000,ab_000,ac_000,ad_000,ae_000,af_000,ag_000,ag_001,ag_002,ag_003,...,ee_002,ee_003,ee_004,ee_005,ee_006,ee_007,ee_008,ee_009,ef_000,eg_000
0,76698,NaN,2130706438,280,0,0,0,0,0,0,...,1240520,493384,721044,469792,339156,157956,73224,0,0,0
1,33058,NaN,0,NaN,0,0,0,0,0,0,...,421400,178064,293306,245416,133654,81140,97576,1500,0,0
2,41040,NaN,228,100,0,0,0,0,0,0,...,277378,159812,423992,409564,320746,158022,95128,514,0,0
3,12,0,70,66,0,10,0,0,0,318,...,240,46,58,44,10,0,0,0,4,32
4,60874,NaN,1368,458,0,0,0,0,0,0,...,622012,229790,405298,347188,286954,311560,433954,1218,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
59995,153002,NaN,664,186,0,0,0,0,0,2564,...,998500,566884,1290398,1218244,1019768,717762,898642,28588,0,0
59996,2286,NaN,2130706538,224,0,0,0,0,0,0,...,10578,6760,21126,68424,136,0,0,0,0,0
59997,112,0,2130706432,18,0,0,0,0,0,0,...,792,386,452,144,146,2622,0,0,0,0
59998,80292,NaN,2130706432,494,0,0,0,0,0,0,...,699352,222654,347378,225724,194440,165070,802280,388422,0,0
59999,40222,NaN,698,628,0,0,0,0,0,0,...,440066,183200,344546,254068,225148,158304,170384,158,0,0

In [76]:
base = pd.concat([class_,data_.apply(pd.to_numeric)],axis=1)
type(base["ae_000"][1])

numpy.float64

In [77]:
base

,class,aa_000,ab_000,ac_000,ad_000,ae_000,af_000,ag_000,ag_001,ag_002,...,ee_002,ee_003,ee_004,ee_005,ee_006,ee_007,ee_008,ee_009,ef_000,eg_000
0,neg,76698,NaN,2.130706e+09,280.0,0.0,0.0,0.0,0.0,0.0,...,1240520.0,493384.0,721044.0,469792.0,339156.0,157956.0,73224.0,0.0,0.0,0.0
1,neg,33058,NaN,0.000000e+00,NaN,0.0,0.0,0.0,0.0,0.0,...,421400.0,178064.0,293306.0,245416.0,133654.0,81140.0,97576.0,1500.0,0.0,0.0
2,neg,41040,NaN,2.280000e+02,100.0,0.0,0.0,0.0,0.0,0.0,...,277378.0,159812.0,423992.0,409564.0,320746.0,158022.0,95128.0,514.0,0.0,0.0
3,neg,12,0.0,7.000000e+01,66.0,0.0,10.0,0.0,0.0,0.0,...,240.0,46.0,58.0,44.0,10.0,0.0,0.0,0.0,4.0,32.0
4,neg,60874,NaN,1.368000e+03,458.0,0.0,0.0,0.0,0.0,0.0,...,622012.0,229790.0,405298.0,347188.0,286954.0,311560.0,433954.0,1218.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
59995,neg,153002,NaN,6.640000e+02,186.0,0.0,0.0,0.0,0.0,0.0,...,998500.0,566884.0,1290398.0,1218244.0,1019768.0,717762.0,898642.0,28588.0,0.0,0.0
59996,neg,2286,NaN,2.130707e+09,224.0,0.0,0.0,0.0,0.0,0.0,...,10578.0,6760.0,21126.0,68424.0,136.0,0.0,0.0,0.0,0.0,0.0
59997,neg,112,0.0,2.130706e+09,18.0,0.0,0.0,0.0,0.0,0.0,...,792.0,386.0,452.0,144.0,146.0,2622.0,0.0,0.0,0.0,0.0
59998,neg,80292,NaN,2.130706e+09,494.0,0.0,0.0,0.0,0.0,0.0,...,699352.0,222654.0,347378.0,225724.0,194440.0,165070.0,802280.0,388422.0,0.0,0.0
59999,neg,40222,NaN,6.980000e+02,628.0,0.0,0.0,0.0,0.0,0.0,...,440066.0,183200.0,344546.0,254068.0,225148.0,158304.0,170384.0,158.0,0.0,0.0

In [78]:
#using the function to filter the columns that have many zeros
from localFilter import isRemovable
new_base = pd.DataFrame()
for column in base.iloc[:,1:].columns:
    if not isRemovable(base[column],50,checkFor="zeros"):
        new_base[column] = base[column] 
new_base

C:\Users\hvurq\AppData\Local\Temp\ipykernel_17124\4274171416.py:6: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead. To get a de-fragmented frame, use `newframe = frame.copy()`
  new_base[column] = base[column]
C:\Users\hvurq\AppData\Local\Temp\ipykernel_17124\4274171416.py:6: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead. To get a de-fragmented frame, use `newframe = frame.copy()`
  new_base[column] = base[column]
C:\Users\hvurq\AppData\Local\Temp\ipykernel_17124\4274171416.py:6: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead. To get a de-fragmented frame, use `newframe = frame.copy()`
  new_base[column] = base[column]
C:\Users\hvurq\AppData\Local\Temp\ipykernel_17124\4274171416.py:6: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead. To get a de-fragmented frame, use `newframe = frame.copy()`
  new_base[column] = base[column]
C:\Users\hvurq\AppData\Local\Temp\ipykernel_17124\4274171416.py:6: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead. To get a de-fragmented frame, use `newframe = frame.copy()`
  new_base[column] = base[column]
C:\Users\hvurq\AppData\Local\Temp\ipykernel_17124\4274171416.py:6: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead. To get a de-fragmented frame, use `newframe = frame.copy()`
  new_base[column] = base[column]
C:\Users\hvurq\AppData\Local\Temp\ipykernel_17124\4274171416.py:6: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead. To get a de-fragmented frame, use `newframe = frame.copy()`
  new_base[column] = base[column]
C:\Users\hvurq\AppData\Local\Temp\ipykernel_17124\4274171416.py:6: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead. To get a de-fragmented frame, use `newframe = frame.copy()`
  new_base[column] = base[column]
C:\Users\hvurq\AppData\Local\Temp\ipykernel_17124\4274171416.py:6: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead. To get a de-fragmented frame, use `newframe = frame.copy()`
  new_base[column] = base[column]
C:\Users\hvurq\AppData\Local\Temp\ipykernel_17124\4274171416.py:6: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead. To get a de-fragmented frame, use `newframe = frame.copy()`
  new_base[column] = base[column]
C:\Users\hvurq\AppData\Local\Temp\ipykernel_17124\4274171416.py:6: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead. To get a de-fragmented frame, use `newframe = frame.copy()`
  new_base[column] = base[column]
C:\Users\hvurq\AppData\Local\Temp\ipykernel_17124\4274171416.py:6: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead. To get a de-fragmented frame, use `newframe = frame.copy()`
  new_base[column] = base[column]
C:\Users\hvurq\AppData\Local\Temp\ipykernel_17124\4274171416.py:6: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead. To get a de-fragmented frame, use `newframe = frame.copy()`
  new_base[column] = base[column]
C:\Users\hvurq\AppData\Local\Temp\ipykernel_17124\4274171416.py:6: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead. To get a de-fragmented frame, use `newframe = frame.copy()`
  new_base[column] = base[column]
C:\Users\hvurq\AppData\Local\Temp\ipykernel_17124\4274171416.py:6: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead. To get a de-fragmented frame, use `newframe = frame.copy()`
  new_base[column] = base[column]
C:\Users\hvurq\AppData\Local\Temp\ipykernel_17124\4274171416.py:6: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead. To get a de-fragmented frame, use `newframe = frame.copy()`
  new_base[column] = base[column]
C:\Users\hvurq\AppData\Local\Temp\ipykernel_17124\4274171416.py:6: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead. To get a de-fragmented frame, use `newframe = frame.copy()`
  new_base[column] = base[column]

,aa_000,ab_000,ac_000,ad_000,ag_004,ag_005,ag_006,ag_007,ag_008,ah_000,...,ed_000,ee_000,ee_001,ee_002,ee_003,ee_004,ee_005,ee_006,ee_007,ee_008
0,76698,NaN,2.130706e+09,280.0,37250.0,1432864.0,3664156.0,1007684.0,25896.0,2551696.0,...,2712.0,965866.0,1706908.0,1240520.0,493384.0,721044.0,469792.0,339156.0,157956.0,73224.0
1,33058,NaN,0.000000e+00,NaN,18254.0,653294.0,1720800.0,516724.0,31642.0,1393352.0,...,2334.0,664504.0,824154.0,421400.0,178064.0,293306.0,245416.0,133654.0,81140.0,97576.0
2,41040,NaN,2.280000e+02,100.0,1648.0,370592.0,1883374.0,292936.0,12016.0,1234132.0,...,1020.0,262032.0,453378.0,277378.0,159812.0,423992.0,409564.0,320746.0,158022.0,95128.0
3,12,0.0,7.000000e+01,66.0,2212.0,3232.0,1872.0,0.0,0.0,2668.0,...,54.0,5670.0,1566.0,240.0,46.0,58.0,44.0,10.0,0.0,0.0
4,60874,NaN,1.368000e+03,458.0,43752.0,1966618.0,1800340.0,131646.0,4588.0,1974038.0,...,1176.0,404740.0,904230.0,622012.0,229790.0,405298.0,347188.0,286954.0,311560.0,433954.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
59995,153002,NaN,6.640000e+02,186.0,59100.0,1603216.0,6015982.0,1968266.0,164972.0,4880368.0,...,2858.0,1608808.0,1479066.0,998500.0,566884.0,1290398.0,1218244.0,1019768.0,717762.0,898642.0
59996,2286,NaN,2.130707e+09,224.0,104.0,99186.0,36564.0,128.0,0.0,56982.0,...,82.0,13934.0,15024.0,10578.0,6760.0,21126.0,68424.0,136.0,0.0,0.0
59997,112,0.0,2.130706e+09,18.0,28.0,11592.0,11538.0,0.0,0.0,8784.0,...,134.0,15876.0,2740.0,792.0,386.0,452.0,144.0,146.0,2622.0,0.0
59998,80292,NaN,2.130706e+09,494.0,330.0,202498.0,3251010.0,2061456.0,360436.0,2634394.0,...,1908.0,1180714.0,1709450.0,699352.0,222654.0,347378.0,225724.0,194440.0,165070.0,802280.0
59999,40222,NaN,6.980000e+02,628.0,1226.0,46284.0,1901140.0,855376.0,61744.0,1235850.0,...,1256.0,409798.0,686416.0,440066.0,183200.0,344546.0,254068.0,225148.0,158304.0,170384.0

In [79]:
#using the function to filter the columns that have many zeros
from localFilter import isRemovable
new_new_base = pd.DataFrame()
for column in new_base.iloc[:,1:].columns:
    if not isRemovable(base[column],50,checkFor="nan"):
        new_new_base[column] = new_base[column] 
new_new_base

C:\Users\hvurq\AppData\Local\Temp\ipykernel_17124\1911191689.py:6: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead. To get a de-fragmented frame, use `newframe = frame.copy()`
  new_new_base[column] = new_base[column]
C:\Users\hvurq\AppData\Local\Temp\ipykernel_17124\1911191689.py:6: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead. To get a de-fragmented frame, use `newframe = frame.copy()`
  new_new_base[column] = new_base[column]
C:\Users\hvurq\AppData\Local\Temp\ipykernel_17124\1911191689.py:6: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead. To get a de-fragmented frame, use `newframe = frame.copy()`
  new_new_base[column] = new_base[column]
C:\Users\hvurq\AppData\Local\Temp\ipykernel_17124\1911191689.py:6: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead. To get a de-fragmented frame, use `newframe = frame.copy()`
  new_new_base[column] = new_base[column]
C:\Users\hvurq\AppData\Local\Temp\ipykernel_17124\1911191689.py:6: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead. To get a de-fragmented frame, use `newframe = frame.copy()`
  new_new_base[column] = new_base[column]
C:\Users\hvurq\AppData\Local\Temp\ipykernel_17124\1911191689.py:6: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead. To get a de-fragmented frame, use `newframe = frame.copy()`
  new_new_base[column] = new_base[column]
C:\Users\hvurq\AppData\Local\Temp\ipykernel_17124\1911191689.py:6: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead. To get a de-fragmented frame, use `newframe = frame.copy()`
  new_new_base[column] = new_base[column]
C:\Users\hvurq\AppData\Local\Temp\ipykernel_17124\1911191689.py:6: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead. To get a de-fragmented frame, use `newframe = frame.copy()`
  new_new_base[column] = new_base[column]

,ac_000,ad_000,ag_004,ag_005,ag_006,ag_007,ag_008,ah_000,an_000,ao_000,...,ed_000,ee_000,ee_001,ee_002,ee_003,ee_004,ee_005,ee_006,ee_007,ee_008
0,2.130706e+09,280.0,37250.0,1432864.0,3664156.0,1007684.0,25896.0,2551696.0,4933296.0,3655166.0,...,2712.0,965866.0,1706908.0,1240520.0,493384.0,721044.0,469792.0,339156.0,157956.0,73224.0
1,0.000000e+00,NaN,18254.0,653294.0,1720800.0,516724.0,31642.0,1393352.0,2560898.0,2127150.0,...,2334.0,664504.0,824154.0,421400.0,178064.0,293306.0,245416.0,133654.0,81140.0,97576.0
2,2.280000e+02,100.0,1648.0,370592.0,1883374.0,292936.0,12016.0,1234132.0,2371990.0,2173634.0,...,1020.0,262032.0,453378.0,277378.0,159812.0,423992.0,409564.0,320746.0,158022.0,95128.0
3,7.000000e+01,66.0,2212.0,3232.0,1872.0,0.0,0.0,2668.0,10184.0,7554.0,...,54.0,5670.0,1566.0,240.0,46.0,58.0,44.0,10.0,0.0,0.0
4,1.368000e+03,458.0,43752.0,1966618.0,1800340.0,131646.0,4588.0,1974038.0,3230626.0,2618878.0,...,1176.0,404740.0,904230.0,622012.0,229790.0,405298.0,347188.0,286954.0,311560.0,433954.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
59995,6.640000e+02,186.0,59100.0,1603216.0,6015982.0,1968266.0,164972.0,4880368.0,8913782.0,7998174.0,...,2858.0,1608808.0,1479066.0,998500.0,566884.0,1290398.0,1218244.0,1019768.0,717762.0,898642.0
59996,2.130707e+09,224.0,104.0,99186.0,36564.0,128.0,0.0,56982.0,123604.0,108768.0,...,82.0,13934.0,15024.0,10578.0,6760.0,21126.0,68424.0,136.0,0.0,0.0
59997,2.130706e+09,18.0,28.0,11592.0,11538.0,0.0,0.0,8784.0,29698.0,23762.0,...,134.0,15876.0,2740.0,792.0,386.0,452.0,144.0,146.0,2622.0,0.0
59998,2.130706e+09,494.0,330.0,202498.0,3251010.0,2061456.0,360436.0,2634394.0,4543410.0,3227856.0,...,1908.0,1180714.0,1709450.0,699352.0,222654.0,347378.0,225724.0,194440.0,165070.0,802280.0
59999,6.980000e+02,628.0,1226.0,46284.0,1901140.0,855376.0,61744.0,1235850.0,2502090.0,2109168.0,...,1256.0,409798.0,686416.0,440066.0,183200.0,344546.0,254068.0,225148.0,158304.0,170384.0

In [80]:
#Dropping rows with NaN values
whole_clean_base = pd.concat([base.iloc[:,0],new_new_base],axis=1).dropna()
clean_base = whole_clean_base.iloc[:,1:]
clean_base

,ac_000,ad_000,ag_004,ag_005,ag_006,ag_007,ag_008,ah_000,an_000,ao_000,...,ed_000,ee_000,ee_001,ee_002,ee_003,ee_004,ee_005,ee_006,ee_007,ee_008
0,2.130706e+09,280.0,37250.0,1432864.0,3664156.0,1007684.0,25896.0,2551696.0,4933296.0,3655166.0,...,2712.0,965866.0,1706908.0,1240520.0,493384.0,721044.0,469792.0,339156.0,157956.0,73224.0
2,2.280000e+02,100.0,1648.0,370592.0,1883374.0,292936.0,12016.0,1234132.0,2371990.0,2173634.0,...,1020.0,262032.0,453378.0,277378.0,159812.0,423992.0,409564.0,320746.0,158022.0,95128.0
4,1.368000e+03,458.0,43752.0,1966618.0,1800340.0,131646.0,4588.0,1974038.0,3230626.0,2618878.0,...,1176.0,404740.0,904230.0,622012.0,229790.0,405298.0,347188.0,286954.0,311560.0,433954.0
5,2.130706e+09,218.0,9128.0,701702.0,1462836.0,449716.0,39000.0,1087760.0,2283060.0,1892752.0,...,1100.0,301078.0,481542.0,388574.0,288278.0,900430.0,300412.0,1534.0,338.0,856.0
7,2.130706e+09,116.0,2130.0,142462.0,4227340.0,1674278.0,59718.0,2738458.0,5586558.0,4916376.0,...,2168.0,543294.0,907360.0,715518.0,384948.0,915978.0,1052166.0,1108672.0,341532.0,129504.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
59990,2.130706e+09,156.0,62040.0,1400952.0,2456958.0,1118832.0,51630.0,2070562.0,4596110.0,4069568.0,...,1962.0,626152.0,657560.0,627610.0,376028.0,931828.0,1035236.0,674626.0,161266.0,3284.0
59991,4.520000e+02,374.0,3564.0,1275494.0,945004.0,149572.0,10804.0,1238598.0,2031012.0,1706484.0,...,884.0,258642.0,386988.0,312426.0,161694.0,323438.0,292350.0,250112.0,157636.0,234932.0
59995,6.640000e+02,186.0,59100.0,1603216.0,6015982.0,1968266.0,164972.0,4880368.0,8913782.0,7998174.0,...,2858.0,1608808.0,1479066.0,998500.0,566884.0,1290398.0,1218244.0,1019768.0,717762.0,898642.0
59998,2.130706e+09,494.0,330.0,202498.0,3251010.0,2061456.0,360436.0,2634394.0,4543410.0,3227856.0,...,1908.0,1180714.0,1709450.0,699352.0,222654.0,347378.0,225724.0,194440.0,165070.0,802280.0
59999,6.980000e+02,628.0,1226.0,46284.0,1901140.0,855376.0,61744.0,1235850.0,2502090.0,2109168.0,...,1256.0,409798.0,686416.0,440066.0,183200.0,344546.0,254068.0,225148.0,158304.0,170384.0

In [81]:
#calculating correlations by column
corr_matrix = clean_base.corr().abs()
corr_matrix

,ac_000,ad_000,ag_004,ag_005,ag_006,ag_007,ag_008,ah_000,an_000,ao_000,...,ed_000,ee_000,ee_001,ee_002,ee_003,ee_004,ee_005,ee_006,ee_007,ee_008
ac_000,1.000000,0.015251,0.070748,0.027350,0.053921,0.068881,0.018582,0.053648,0.040548,0.045722,...,0.028014,0.018817,0.000545,0.007660,0.014405,0.007953,0.004361,0.031841,0.041390,0.070371
ad_000,0.015251,1.000000,0.008829,0.040075,0.252080,0.579537,0.692929,0.106872,0.092968,0.070194,...,0.161503,0.396503,0.413138,0.074774,0.039433,0.018692,0.007897,0.003607,0.002822,0.004706
ag_004,0.070748,0.008829,1.000000,0.859806,0.271887,0.028956,0.060205,0.460682,0.468452,0.479201,...,0.487167,0.638619,0.500369,0.796542,0.769731,0.769262,0.620100,0.640713,0.819672,0.030595
ag_005,0.027350,0.040075,0.859806,1.000000,0.437732,0.064144,0.075580,0.577190,0.585128,0.583342,...,0.668514,0.675900,0.580354,0.810331,0.775267,0.745006,0.663964,0.693738,0.795991,0.076350
ag_006,0.053921,0.252080,0.271887,0.437732,1.000000,0.713513,0.396973,0.412498,0.405110,0.363828,...,0.523984,0.657483,0.780684,0.647609,0.617984,0.574912,0.469556,0.287514,0.318457,0.337274
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
ee_004,0.007953,0.018692,0.769262,0.745006,0.574912,0.237401,0.136721,0.363599,0.365872,0.354666,...,0.414401,0.555481,0.537032,0.914132,0.942405,1.000000,0.694112,0.465995,0.614601,0.081126
ee_005,0.004361,0.007897,0.620100,0.663964,0.469556,0.198654,0.128402,0.495364,0.507691,0.507169,...,0.494403,0.517453,0.394640,0.666369,0.673856,0.694112,1.000000,0.562417,0.432953,0.096564
ee_006,0.031841,0.003607,0.640713,0.693738,0.287514,0.063845,0.060299,0.484196,0.503478,0.516979,...,0.533752,0.429498,0.300256,0.493844,0.516046,0.465995,0.562417,1.000000,0.503971,0.086122
ee_007,0.041390,0.002822,0.819672,0.795991,0.318457,0.067187,0.060016,0.471957,0.463847,0.475395,...,0.490328,0.492477,0.406286,0.639970,0.609304,0.614601,0.432953,0.503971,1.000000,0.083947
ee_008,0.070371,0.004706,0.030595,0.076350,0.337274,0.219839,0.062929,0.106687,0.107681,0.103983,...,0.104789,0.053305,0.067032,0.136115,0.123689,0.081126,0.096564,0.086122,0.083947,1.000000

In [82]:
#creating a mask for the triangular supperior part of the triangular matrix
ones_matrix = np.ones_like(corr_matrix,dtype=bool)
boolMask = ~np.triu(ones_matrix,1)#a mask with ones above the main diagonal)
mask = pd.DataFrame(boolMask, index=corr_matrix.index, columns=corr_matrix.columns)
mask

,ac_000,ad_000,ag_004,ag_005,ag_006,ag_007,ag_008,ah_000,an_000,ao_000,...,ed_000,ee_000,ee_001,ee_002,ee_003,ee_004,ee_005,ee_006,ee_007,ee_008
ac_000,True,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
ad_000,True,True,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
ag_004,True,True,True,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
ag_005,True,True,True,True,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
ag_006,True,True,True,True,True,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
ee_004,True,True,True,True,True,True,True,True,True,True,...,True,True,True,True,True,True,False,False,False,False
ee_005,True,True,True,True,True,True,True,True,True,True,...,True,True,True,True,True,True,True,False,False,False
ee_006,True,True,True,True,True,True,True,True,True,True,...,True,True,True,True,True,True,True,True,False,False
ee_007,True,True,True,True,True,True,True,True,True,True,...,True,True,True,True,True,True,True,True,True,False
ee_008,True,True,True,True,True,True,True,True,True,True,...,True,True,True,True,True,True,True,True,True,True

In [83]:
corr_matrix.mask(mask)

,ac_000,ad_000,ag_004,ag_005,ag_006,ag_007,ag_008,ah_000,an_000,ao_000,...,ed_000,ee_000,ee_001,ee_002,ee_003,ee_004,ee_005,ee_006,ee_007,ee_008
ac_000,NaN,0.015251,0.070748,0.027350,0.053921,0.068881,0.018582,0.053648,0.040548,0.045722,...,0.028014,0.018817,0.000545,0.007660,0.014405,0.007953,0.004361,0.031841,0.041390,0.070371
ad_000,NaN,NaN,0.008829,0.040075,0.252080,0.579537,0.692929,0.106872,0.092968,0.070194,...,0.161503,0.396503,0.413138,0.074774,0.039433,0.018692,0.007897,0.003607,0.002822,0.004706
ag_004,NaN,NaN,NaN,0.859806,0.271887,0.028956,0.060205,0.460682,0.468452,0.479201,...,0.487167,0.638619,0.500369,0.796542,0.769731,0.769262,0.620100,0.640713,0.819672,0.030595
ag_005,NaN,NaN,NaN,NaN,0.437732,0.064144,0.075580,0.577190,0.585128,0.583342,...,0.668514,0.675900,0.580354,0.810331,0.775267,0.745006,0.663964,0.693738,0.795991,0.076350
ag_006,NaN,NaN,NaN,NaN,NaN,0.713513,0.396973,0.412498,0.405110,0.363828,...,0.523984,0.657483,0.780684,0.647609,0.617984,0.574912,0.469556,0.287514,0.318457,0.337274
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
ee_004,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,0.694112,0.465995,0.614601,0.081126
ee_005,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.562417,0.432953,0.096564
ee_006,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.503971,0.086122
ee_007,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.083947
ee_008,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [84]:
#calcuating the columns to drop and dropping them
corr_limit = 0.7#higth correlation
'''
Explaining this code:
corr_matrix[column] will give a column of name `column` with its correlation in relation with the oder columns.
corr_matrix[column][mask] will give a column of name `column` truncated with the main diagonal
any(corr_matrix[column][mask]>=corr_limit) will return True if any value of the column if any value is bigger than corr_matrix
'''
columns_list =[column for column in corr_matrix.columns if any(corr_matrix.mask(mask)[column]>=corr_limit)]
columns_list

['ag_005',
 'ag_007',
 'ag_008',
 'an_000',
 'ao_000',
 'ap_000',
 'aq_000',
 'ay_007',
 'az_005',
 'ba_000',
 'ba_001',
 'ba_002',
 'ba_003',
 'ba_004',
 'ba_005',
 'ba_006',
 'bb_000',
 'be_000',
 'bg_000',
 'bh_000',
 'bi_000',
 'bj_000',
 'bl_000',
 'bt_000',
 'bu_000',
 'bv_000',
 'bx_000',
 'by_000',
 'cb_000',
 'cc_000',
 'ce_000',
 'ci_000',
 'ck_000',
 'cn_003',
 'cn_004',
 'cn_005',
 'cn_006',
 'cn_007',
 'cn_008',
 'cn_009',
 'cp_000',
 'cq_000',
 'cs_000',
 'cs_001',
 'cs_002',
 'cs_003',
 'cs_005',
 'cs_008',
 'ct_000',
 'cx_000',
 'cz_000',
 'dc_000',
 'dd_000',
 'dn_000',
 'dp_000',
 'ds_000',
 'dt_000',
 'dv_000',
 'ec_00',
 'ed_000',
 'ee_000',
 'ee_001',
 'ee_002',
 'ee_003',
 'ee_004',
 'ee_005',
 'ee_007']

In [85]:
cleaner_base = pd.DataFrame(clean_base[[column for column in clean_base.columns if column not in columns_list]])
cleaner_base = pd.concat([whole_clean_base.iloc[:,0],cleaner_base],axis=1)
cleaner_base

,class,ac_000,ad_000,ag_004,ag_006,ah_000,av_000,ax_000,ay_006,ay_008,...,cs_007,cu_000,cv_000,db_000,de_000,do_000,du_000,eb_000,ee_006,ee_008
0,neg,2.130706e+09,280.0,37250.0,3664156.0,2551696.0,1012.0,268.0,4239660.0,755876.0,...,26330.0,734.0,4122704.0,18.0,1126.0,85908.0,14745580.0,2801180.0,339156.0,73224.0
2,neg,2.280000e+02,100.0,1648.0,1883374.0,1234132.0,358.0,110.0,870456.0,1450312.0,...,16682.0,292.0,2180528.0,0.0,152.0,38182.0,300240.0,1040120.0,320746.0,95128.0
4,neg,1.368000e+03,458.0,43752.0,1800340.0,1974038.0,1788.0,642.0,2128914.0,584074.0,...,22228.0,1664.0,3440288.0,0.0,444.0,62648.0,457040.0,21173050.0,286954.0,433954.0
5,neg,2.130706e+09,218.0,9128.0,1462836.0,1087760.0,1142.0,452.0,1160742.0,447274.0,...,15672.0,1318.0,2028182.0,12.0,44.0,73432.0,10244700.0,0.0,1534.0,856.0
7,neg,2.130706e+09,116.0,2130.0,4227340.0,2738458.0,182.0,34.0,1558518.0,517638.0,...,37752.0,110.0,5479566.0,12.0,362.0,167572.0,14438160.0,3537310.0,1108672.0,129504.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
59990,neg,2.130706e+09,156.0,62040.0,2456958.0,2070562.0,376.0,82.0,1893318.0,170696.0,...,27532.0,246.0,4226942.0,0.0,332.0,134770.0,19199000.0,2401220.0,674626.0,3284.0
59991,neg,4.520000e+02,374.0,3564.0,945004.0,1238598.0,418.0,474.0,1681636.0,292880.0,...,11904.0,1348.0,1528060.0,0.0,170.0,42962.0,1262420.0,711500.0,250112.0,234932.0
59995,neg,6.640000e+02,186.0,59100.0,6015982.0,4880368.0,3328.0,1080.0,2533260.0,4705948.0,...,36428.0,742.0,1760956.0,0.0,1600.0,137050.0,470800.0,80125300.0,1019768.0,898642.0
59998,neg,2.130706e+09,494.0,330.0,3251010.0,2634394.0,2124.0,1090.0,4445146.0,0.0,...,16748.0,4492.0,2200048.0,22.0,284.0,37162.0,25232340.0,39881280.0,194440.0,802280.0
59999,neg,6.980000e+02,628.0,1226.0,1901140.0,1235850.0,2260.0,266.0,1433988.0,127100.0,...,8082.0,720.0,2453708.0,0.0,214.0,25034.0,152740.0,39221060.0,225148.0,170384.0

In [86]:
#Now that we know the correlated columns we go back and first delete those columns and the we drop the nan values, that way we won around 4000 data points without violating the purpouse of the cleaning
tmp = pd.concat([base.iloc[:,0],new_new_base],axis=1)
other_cleaner_base = pd.DataFrame(tmp[[column for column in tmp.columns if column not in columns_list]]).dropna()
other_cleaner_base

,class,ac_000,ad_000,ag_004,ag_006,ah_000,av_000,ax_000,ay_006,ay_008,...,cs_007,cu_000,cv_000,db_000,de_000,do_000,du_000,eb_000,ee_006,ee_008
0,neg,2.130706e+09,280.0,37250.0,3664156.0,2551696.0,1012.0,268.0,4239660.0,755876.0,...,26330.0,734.0,4122704.0,18.0,1126.0,85908.0,14745580.0,2801180.0,339156.0,73224.0
2,neg,2.280000e+02,100.0,1648.0,1883374.0,1234132.0,358.0,110.0,870456.0,1450312.0,...,16682.0,292.0,2180528.0,0.0,152.0,38182.0,300240.0,1040120.0,320746.0,95128.0
4,neg,1.368000e+03,458.0,43752.0,1800340.0,1974038.0,1788.0,642.0,2128914.0,584074.0,...,22228.0,1664.0,3440288.0,0.0,444.0,62648.0,457040.0,21173050.0,286954.0,433954.0
5,neg,2.130706e+09,218.0,9128.0,1462836.0,1087760.0,1142.0,452.0,1160742.0,447274.0,...,15672.0,1318.0,2028182.0,12.0,44.0,73432.0,10244700.0,0.0,1534.0,856.0
7,neg,2.130706e+09,116.0,2130.0,4227340.0,2738458.0,182.0,34.0,1558518.0,517638.0,...,37752.0,110.0,5479566.0,12.0,362.0,167572.0,14438160.0,3537310.0,1108672.0,129504.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
59990,neg,2.130706e+09,156.0,62040.0,2456958.0,2070562.0,376.0,82.0,1893318.0,170696.0,...,27532.0,246.0,4226942.0,0.0,332.0,134770.0,19199000.0,2401220.0,674626.0,3284.0
59991,neg,4.520000e+02,374.0,3564.0,945004.0,1238598.0,418.0,474.0,1681636.0,292880.0,...,11904.0,1348.0,1528060.0,0.0,170.0,42962.0,1262420.0,711500.0,250112.0,234932.0
59995,neg,6.640000e+02,186.0,59100.0,6015982.0,4880368.0,3328.0,1080.0,2533260.0,4705948.0,...,36428.0,742.0,1760956.0,0.0,1600.0,137050.0,470800.0,80125300.0,1019768.0,898642.0
59998,neg,2.130706e+09,494.0,330.0,3251010.0,2634394.0,2124.0,1090.0,4445146.0,0.0,...,16748.0,4492.0,2200048.0,22.0,284.0,37162.0,25232340.0,39881280.0,194440.0,802280.0
59999,neg,6.980000e+02,628.0,1226.0,1901140.0,1235850.0,2260.0,266.0,1433988.0,127100.0,...,8082.0,720.0,2453708.0,0.0,214.0,25034.0,152740.0,39221060.0,225148.0,170384.0

In [87]:
#saving into files
cleaner_base.to_csv('Data/cleaned1_air_system_previous_years.csv',sep=',',index_label=False)
other_cleaner_base.to_csv('Data/.csv',sep=',',index_label=False)